footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80px;
  height: 40vh;
  background-color: #463d35;
  color: #ac8f73;
  margin-top: 10vh;
}
footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer h1 {
  font-size: 80px;
  font-family: Harukaze;
  letter-spacing: 5px;
}
footer a {
  color: #ac8f73;
  margin: 0px 1vw;
  font-size: 25px;
  text-decoration: none;
}
footer p {
  font-size: 25px;
}