header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  min-height: 80px;
  height: 10vh;
  background-color: #AC8F73;
  box-shadow: 0px 2px 5px black;
  position: sticky;
  top: 0px;
}
header img {
  height: 9vh;
  margin-left: 2vw;
  margin-right: 1.5vw;
}
  header h1 {
  color: #463d35;
  font-size: 9vh;
  font-family: KongJapanese;
  text-shadow: 1px 1px 4px ;
}
nav {
  position: absolute;
  right: 4vw;
  top: 6vh;
  font-family: KongJapanese;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav a {
  font-size: 3vh;
  text-decoration: none;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 1vh 1vw;
  border: 3px solid transparent;
}
nav a:hover {
  background-color: #927c6e;
  border: 3px solid #d04646;
  border-radius: 10px;
}