body {
	background-image: url('../../images/shogi-king-BKG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: cover;
}
main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fcf4e1;
}
.home > div {
  background-color: #463d35;
  border: 5px solid #927c6e;
  margin-top: 10vh;
  margin-bottom: 10vh;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.title {
  margin-top: 28vh;
  margin-bottom: 28vh;
  padding: 5vh 5vw;
  border-top-right-radius: 10vw;
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 10vw;
  border-bottom-right-radius: 1vw;
}
main h1 {
  font-family: Harukaze;
  font-size: 10vw;
  letter-spacing: 5px;
}
.disclaimer {
  color: #d04646;
  text-align: center;
}
main h2 {
  font-family: Harukaze;
  font-size: 10vh;
  letter-spacing: 5px;
  color: #d04646;
}
.comelearn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 3vw;
  border-radius: 5vh;
  width: 75vw;
}
.comelearn div {
  width: 45vw;
  text-align: center;
}
.comelearn p {
  line-height: 120%;
  letter-spacing: 1px;
  padding-top: 1vh;
  text-align: justify;
}
.comelearn button {
  background-color: #fcf4e1;
  font-family: Harukaze;
  font-size: 6vh;
  letter-spacing: 5px;
  color: #d04646;
  margin-top: 5vh;
  padding: 0px 1vw;
  border-radius: 10px;
  border: solid 5px transparent;
  cursor: pointer;
}
.comelearn button:hover{
  border: solid 5px #d04646;
}
.comelearn img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 3vw;
}
.meetup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5vh 3vw;
  border-radius: 5vh;
  width: 75vw;
}
.meetup img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-right: 3vw;
}
.meetup div {
  width: 45vw;
  text-align: center;
}
.meetup p {
  line-height: 120%;
  letter-spacing: 1px;
  padding-top: 1vh;
  text-align: justify;
}
.meetup a {
  text-decoration: none;
  color: #d04646;
  font-weight: bold;
}