body {
	background-image: url('../../images/shogi-king-BKG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: cover;
  background-position: 0vw -8vh;
}
main {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fcf4e1;
}
main > div {
  background-color: #463d35;
  border: 5px solid #927c6e;
}
.title {
  margin: 28vh;
  padding: 5vh 5vw;
  border-top-right-radius: 20vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 20vh;
  border-bottom-right-radius: 10px;
}
main h1 {
  font-family: Harukaze;
  font-size: 20vh;
  letter-spacing: 5px;
}
.disclaimer {
  color: #d04646;
  text-align: center;
}
main h2 {
  font-family: Harukaze;
  font-size: 8vh;
  letter-spacing: 5px;
  color: #d04646;
}
.comelearn {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  justify-content: space-around;
  padding: 10vh;
}
.comelearn div {
  width: 35vw;
}
.comelearn p {
  line-height: 120%;
  letter-spacing: 1px;
}
.comelearn img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}
.meetup {

}