.learn > div {
  border-radius: 10vh;
  display: flex;
  flex-direction: column;
  padding: 10vh 5vw;
  margin: 10vh 10vw;
  width: 80vw;
  background-color: #463d35;
  border: 5px solid #927c6e;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.learn h1 {
  text-align: center;
  margin-bottom: 10vh;
  text-shadow: 2px 2px 2px black;
  font-size: 12vw;
}
/* .learn h3 {
  font-family: Harukaze;
  font-size: 8vw;
  letter-spacing: 5px;
  color: #d04646;
} */
.madeRed {
  color: #d04646;
  font-weight: bold;
}
.learn p {
  line-height: 120%;
  letter-spacing: 1px;
  padding-top: 1vh;
  text-align: justify;
  /* width: 30vw; */
}
.homeDesc {
  font-size: 25px;
  width: 80%;
  margin: 0px 10%;
}
.homeDescImg {
  border-radius: 10px;
  box-shadow: 2px 2px 4px black;
  width: 100%;
  height: auto;
  margin-bottom: 5vh;
}
.knowChess {
  /* margin: 20vh; */
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

.learn button {
  background-color: #fcf4e1;
  font-family: QueensidesBold;
  font-size: 5vh;
  letter-spacing: 5px;
  color: #d04646;
  padding: 0vh 1vw 1vh 1vw;
  margin: 0px 2vw;
  border-radius: 10px;
  border: solid 5px #463d35;
}
.knowChess button:hover {
  border: solid 5px #d04646;
}
.pieceMoves {
text-align: center;
}
.pieceMoves h2 {
  font-family: Harukaze;
  font-size: 8vw;
  letter-spacing: 5px;
  color: #d04646;
}

h3 {
  font-family: Harukaze;
  font-size: 8vw;
  letter-spacing: 5px;
  color: #d04646;
}

.japaneseText {
  font-family: YujiSyuku;
  font-size: 5vw;
}

p .japaneseText {
  font-family: YujiSyuku;
  font-size: 32px;
}

.knowChess h2 {
  font-size: 20vh;
  text-shadow: 2px 2px 2px black;
}
.pieceMoves ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}
.pieceMoves li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18vw;
  background-color: #927c6e;
  width: 15vw;
  padding: 4vh 1vw;
  margin: 2vh 4vw;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px black;
}
.pieceMoves h3 {
  font-size: 2vw;
}
.pieceMoves h4 {
  font-size: 1.5vw;
}
.pieceMoves h5 {
  font-size: 1.25vw;
}
.pieceMoves h5 span {
  font-size: 2vw;
}
.pieceMoves p {
  font-size: 3vw;
  width: inherit;
  text-align: center;
}
.pieceMoves img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}
.piece {
  top: -45%;
  left: -1px;
  position: relative;
  width: 30% !important;
  height: auto !important;
  z-index: 0;
}
.piece.back {
  top: -29%;
}
#activeRule img {
  max-width: 100%;
}
.illegalMoves li {
  color: #d04646;
  font-size: 32px;
}
.illegalMoves p {
  margin-top: 10px;
  margin-bottom: 10px;
}
a {
  color: #d04646;
}

button.learnNavBtn {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 32px;
  text-align: center;
  padding: 5px;
}

button.nextBtn,
button.nextBtn:hover {
  height: 0;
  width: 0;
  border: none;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid #fcf4e1;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

button.nextBtn:hover {
  cursor: pointer;
  border-left: 30px solid #d04646;
}

button.prevBtn,
button.prevBtn:hover {
  height: 0;
  width: 0;
  border: none;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 30px solid #fcf4e1;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

button.prevBtn:hover {
  cursor: pointer;
  border-right: 30px solid #d04646;
}

button.pieceNavBtn {
  font-family: YujiSyuku;
  font-size: 25px;
  text-align: center;
  padding: 0;
  color: black;
  width: 50px;
  height: 50px;
}

.pieceDesc p {
  font-size: 25px;
}

#activeRule img.pieceImg {
  max-width: 25%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

#activeRule img.movementImg {
  max-width: 25%;
  float: left;
  /* clear: left; */
  margin-right: 20px;
  margin-bottom: 20px;
}

section#activePiece {
  clear: both;
}

section.pieceDesc {
  padding-bottom: 50px;
}

#activeRule .navButtons {
  margin-top: 100px;
  clear: both;
}