.posts {
  display: flex;
  flex-direction: column;
}
.addPostRender {
  font-family: Harukaze;
  font-size: 4vw;
  letter-spacing: 5px;
  text-decoration: none;
  color: #463d35;
  border: solid 5px #463d35;
  background-color: #AC8F73;
  border-radius: 10vh;
  margin: 10vh 10vw;
  width: 80vw;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
  text-align: center;
}
.addPostRender:hover {
  background-color: #fcf4e1;
  color: #d04646;
  border-color: #d04646;
}
.posts > div {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}
.postCard {
  display: flex;
  flex-direction: column;
  max-width: 29%;
  height: fit-content;
  margin: 1vw;
  padding: 1vw 1.5vw 1.5vw 1.5vw;
  border: solid 5px #AC8F73;
  border-radius: 5vh;
  background-color: #463d35;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
  max-height: 40vh;
}
.postCard h3 {
  letter-spacing: 1px;
  font-size: 2vw;
}
.postCard div {
  display: flex;
  align-items: center;
  text-align: left;
  min-width: 15vw;
  width: 100%;
}
.postCard > p {
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-family: QueensidesBold;
  font-size: 1.25vw;
  overflow: auto;
  padding: 1vh 0px;
}
/* SCROLLBAR CSS */
.postCard > p::-webkit-scrollbar {
  width: .5vw;
}
.postCard > p::-webkit-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
.postCard > p::-ms-scrollbar {
  width: .5vw;
}
.postCard > p::-ms-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
.postCard > p::-moz-scrollbar {
  width: .5vw;
}
.postCard > p::-moz-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}

/* TODO: ADDPOST BEGIN CSS */
.addPostForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background-color: #AC8F73;
  border: solid 5px #463d35;
  border-radius: 5vh;
  padding: 3vw;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.addPostForm div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}
.addPostForm label {
  font-family: Harukaze;
  font-size: 5vw;
  letter-spacing: 1vw;
  text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.addPostForm input {
  background-color: #463d35;
  font-family: Queensides;
  color: #fcf4e1;
  padding: .5vw;
  font-size: 3vw;
  background-color: #463d35;
  border-radius: 2vh;
  border: none;
  letter-spacing: .25vw;
  text-indent: 1vw;
  margin: 0px 1vw;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.addPostForm input::placeholder {
  color: #fcf4e1;
}
.addPostForm textarea {
  background-color: #463d35;
  font-family: Queensides;
  color: #fcf4e1;
  padding: .5vw;
  font-size: 1.25vw;
  background-color: #463d35;
  border-radius: 2vh;
  border: none;
  letter-spacing: .02vw;
  margin: 0px 1vw;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
  width: 100%;
  margin-bottom: 2vh;
}
.addPostForm textarea::placeholder {
  color: #fcf4e1;
}
.addPostForm button {
  font-family: Harukaze;
  font-size: 3vw;
  color: #fcf4e1;
  padding: 0px 2vw;
  letter-spacing: .5vw;
  text-decoration: none;
  border: solid 5px #463d35;
  background-color: #463d35;
  border-radius: 10vh;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
  text-align: center;
  width: fit-content;
}
.addPostForm button:hover {
  background-color: #fcf4e1;
  color: #d04646;
  border-color: #d04646;
}

/* TODO: BEGIN COMMENT CSS */
.commentArea {
  display: flex;
  flex-direction: column;
}
.showComment {
  width: 15vw;
  margin: 1vh 0px 2vh 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #AC8F73;
  border-radius: 3vw;
  cursor: pointer;
}
.showComment path {
  color: #d04646;
}
.showComment p {
  margin: .5vw;
  padding-bottom: .25vw;
  font-size: 1.25vw;
}
.commentCard {
  display: flex; 
  flex-direction: column;
  align-self: flex-start;
  width: 95%;
  background-color: #AC8F73;
  color: #463d35;
  border-radius: 1vh;
  margin: 1vh 0px;
  padding: .5vw;
}
.commentCard div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.commentCard h5 {
  letter-spacing: 1px;
  font-family: QueensidesBold;
  font-size: 1.5vw;
}
.commentCard h6 {
  font-size: 1vw;
}
.commentCard p {
  align-self: flex-start;
  font-size: 1vw;
}
.addComment {
  width: 100%;
}
.addComment form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.addComment textarea {
  width: 100%;
  background-color: #AC8F73;
  border: none;
  border-radius: 1vh;
  word-wrap: normal;
  height: fit-content;
  color: #fcf4e1;
  margin-top: 1vh;
}
.addComment textarea::placeholder {
  color: #fcf4e1;
}
.addComment div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.addComment button {
  color: #463d35;
  background-color: #AC8F73;
  border: none;
  border-radius: 3vw;
  font-size: 2.4vw;
  padding: 0vw .6vw;
  font-family: Harukaze;
  letter-spacing: 5px;
}
.addComment button:hover {
  color: #d04646;
  background-color: #fcf4e1;
}