.posts {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 94vw;
}
.posts > div {
  display: flex;
  flex-wrap: wrap;
}
.postCard {
  display: flex;
  flex-direction: column;
  max-width: 26vw;
  height: fit-content;
  margin: 1vw;
  padding: 1vw 1.5vw 1.5vw 1.5vw;
  border: solid 5px #AC8F73;
  border-radius: 5vh;
  background-color: #463d35;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.postCard h2 {
  font-size: 5vw;
}
.postCard h2 span {
  font-size: 3vw;
}
.postCard h4 {
  align-self: flex-end;
  letter-spacing: 1px;
  font-size: 1vw;
}
.postCard > p {
  max-height: 40vh;
  margin-bottom: 2vh;
  font-family: QueensidesBold;
  font-size: 1.25vw;
  line-height: 1.25vw;
  letter-spacing: 1px;
  overflow: auto;
  padding: 1vh 0px;
}
/* SCROLLBAR CSS */
.postCard > p::-webkit-scrollbar {
  width: .5vw;
}
.postCard > p::-webkit-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
.postCard > p::-ms-scrollbar {
  width: .5vw;
}
.postCard > p::-ms-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
.postCard > p::-moz-scrollbar {
  width: .5vw;
}
.postCard > p::-moz-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}

@media only screen and (max-width: 640px) {
  .posts {
    width: 100vw;
    flex-direction: column;
  }
  .postCard {
    margin: 2vh 0px;
    width: 94.5vw;
    max-width: 94.5vw;
    font-size: 4.5vw;
  }
  .posts h2 {
    padding-left: 3vw;
    font-size: 20vw;
    letter-spacing: 1px;
    line-height: 80%;
    padding-top: 2vh;
  }
  .postCard p {
    font-size: 4.5vw;
    width: 94vw;
    line-height: 110%;
    max-height: 35vh;
  }
}