.posts {
  display: flex;
  flex-wrap: wrap;
}
.posts > div {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}
.postCard {
  display: flex;
  flex-direction: column;
  max-width: 24vw;
  height: fit-content;
  margin: 1vw;
  padding: 1vw 1.5vw 1.5vw 1.5vw;
  border: solid 5px #AC8F73;
  border-radius: 5vh;
  background-color: #463d35;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.543);
}
.postCard h3 {
  letter-spacing: 1px;
  font-size: 2vw;
}
.postCard div {
  display: flex;
  align-items: center;
  text-align: left;
  min-width: 15vw;
}
.postCard > p {
  max-height: 20vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-family: QueensidesBold;
  font-size: 1.2vw;
  line-height: 2.5vh;
  overflow: auto;
  padding: 1vh 0px;
}
/* SCROLLBAR CSS */
.postCard > p::-webkit-scrollbar {
  width: .5vw;
}
.postCard > p::-webkit-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
.postCard > p::-ms-scrollbar {
  width: .5vw;
}
.postCard > p::-ms-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
.postCard > p::-moz-scrollbar {
  width: .5vw;
}
.postCard > p::-moz-scrollbar-thumb {
  width: .5vw;
  background-color: #AC8F73;
  border-radius: 2vw;
}
