@media only screen and (max-width: 640px) {
  .comelearn img,
  .meetup img,
  .homeDesc img {
    display: none;
  }
  header > div {
    display: flex;
    width: 100vw;
    justify-content: center;
  }
  header img {
    position: relative;
    bottom: 1vh;
    height: 5vh;
  }
  header h1 {
    font-size: 5vh;
    position: relative;
    bottom: 1vh;
  }
  nav {
    top: 8.5vh;
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  nav ul {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }
  nav a {
    font-size: 2.25vh;
  }
  nav a:active,
  nav a:hover {
    box-shadow: none !important;
    background-color: transparent !important;
  }
  .title h1 {
    letter-spacing: 1px;
    font-size: 25vw;
    text-align: center;
  }
  .home >div {
    margin-top: 20vh;
  }
  .comelearn {
    flex-direction: column;
    width: 90vw;
  }
  .meetup {
    flex-direction: column;
    width: 90vw;
  }
  .home div div {
    width: 90vw;
  }
  .home div p {
    font-size: 3vh;
  }
  .home h2 {
    font-size: 20vw;
    width: 90vw;
  }
  .comelearn button {
    font-size: 7vh;
    letter-spacing: 3px;
    padding: 0px 5vw;
  }
  /* LEARN PAGE */
  .learn > div {
    margin: 5vh 0px;
    width: 97.5vw;
    padding: 5vh 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .learn h1 {
    font-size: 20vw;
    margin-bottom: 3vh;
  }
  .learn div img {
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
  }
  .homeDesc {
    width: 94vw;
    font-size: 4vw;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .knowChess {
    margin: 0;
  }
  .learn h2 {
    font-size: 25vw;
    margin-top: 5vh;
  }
  /* .piece.back {
    top: -27%;
  } */
  /* .pieceMoves ul {
    margin: 0px;
    width: 94vw;
    display: flex;
    justify-content: space-around;
  }
  .pieceMoves li {
    width: 40vw;
    height: 30vh;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */
  .pieceDesc h3 {
    font-size: 10vw;
    margin: 5px;
  }
  /* .pieceMoves h4 {
    font-size: 5vw;
  }
  .pieceMoves h5 {
    font-size: 5vw;
  }
  .pieceMoves p {
    font-size: 3.5vw;
  }
  .pieceMoves li img {
    width: 36vw;
    height: auto;
  } */
  .pieceDesc p {
    font-size: 4vw;
    margin: 10px;
  }
  #activeRule img.pieceImg {
    max-width: 40%;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  #activeRule img.movementImg {
    max-width: 42%;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  section#activePiece {
    clear: both;
  }
  
  #activeRule .navButtons {
    margin-top: 5px;
    clear: both;
  }
  .illegalMoves li {
    font-size: 24px;
    margin-top: 2vh;
    line-height: 3vh;
  }

}
