@media only screen and (max-width: 640px) {
    .comelearn img,
    .meetup img,
    .homeDesc img {
        display: none;
    }

    /* p {
        font-size: 48px;
    } */

    header img {
        margin-left: 25vw;
    }

    nav {
        top: 8.5vh;
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    nav a {
        font-size: 2.25vh;
    }

    nav a:active,
    nav a:hover {
        box-shadow: none !important;
        background-color: transparent !important;
        color: #d04646;
    }

    .posts > div {
        width: 100vw;
    }

    .postCard {
        max-width: 100vw;
        margin: 10vw;
    }

    .postCard p {
        font-size: 5vw;
    }

    .homeDesc p {
        width: 100vw;
    }

    .knowChess {
        margin: 0;
    }

    .knowChess {
        display: none;
    }

    .pieceMoves li {
        width: 25vw;
        height: 30vh;
    }

    .pieceMoves h3 {
        font-size: 6vw;
    }

    .pieceMoves h4 {
        font-size: 5vw;
    }
    
    .pieceMoves h5 {
        font-size: 5vw;
    }

    .pieceMoves p {
        font-size: 3vw;
    }
}